{% extends "Omega_Template.html" %}

{% block head %}
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
th,td
{
padding:5px;
}
</style>
{% endblock %}

{% block Title %}License Requests{% endblock %}

{% block content %}
Click on a license to view more details<br><br>
<table style="width:600px">
<tr>
  <th>Software name</th>
  <th>Version</th>		
  <th>License type</th>
  <th>Date requested</th>
</tr>
{% for name, version, type, date, id in license_list %}
<tr>
	<td><a href='/license/request/{{ id }}/{{name}}_version_{{version}}/' style="display:block;color:black;text-decoration:none">{{ name }}</a></td>

	<td><a href='/license/request/{{ id }}/{{name}}_version_{{version}}/' style="display:block;color:black;text-decoration:none">{{ version }}</a></td>

	<td><a href='/license/request/{{ id }}/{{name}}_version_{{version}}/' style="display:block;color:black;text-decoration:none">{{ type }}</a></td>

	<td><a href='/license/request/{{ id }}/{{name}}_version_{{version}}/' style="display:block;color:black;text-decoration:none">{{ date }}</a></td>

</tr>
{% endfor %}
</table>
{% endblock %}
