{% extends "Omega_Template.html" %}
{% block Title %}{{ user_first }} {{ user_last }}{% endblock %}

{% block content %}
<p>Request by <b>{{ user_first }} {{ user_last }}</b>, username <b>{{ username }}</b>.</p><br>
Comments: <br>
<p style='margin-left:2em'>{{ request_text }}</p>

<form action="{% url 'password_request_approve' %}" name='approve' id='approve' method='post'>{% csrf_token %}
<input type='hidden' name='request_id' value={{ request_id }}>
</form>

<form action="{% url 'password_request_deny' %}" name='deny' id='deny' method='post'>{% csrf_token %}
<input type='hidden' name='request_id' value={{ request_id }}>
</form>

<input type='submit' value='Approve' form='approve'>
<input type='submit' value='Deny' form='deny'>
{% endblock %}
