<!DOCTYPE html>
<html>
<head>{% block head %}{% endblock %}</head>
<body>
{% load static %}
{% if auth_session = True %}

	{% block entire %}
	<div id="logo" style="background-color:lightgray;width:200px;height:50px;float:left;padding:0px">

		<img src="{% static logo %}" style='width:200px;height:50px'/>
	</div>
	<div id="title" style="background-color:lightgray;width:1000px;height:50px;text-align:center">
		<h1 style='text-decoration:underline'>{% block Title %}Title{% endblock %}</h1>
	</div>
	<div id="sidebar" style="background-color:lightgray;width:200px;padding:0px;float:left">
	{% block Sidebar %}
		{% if approver_session = True %}
			<ul><font size=5>
				<li><a href="/license/view/page_1"> View licenses </a></li><br>
				<li><a href="{% url 'request_form' %}"> Create new license </a></li><br>
				<li><a href="{% url 'license_requests' %}">View license requests </a></li><br>
				<li><a href="{% url 'user_requests' %}"> View user requests </a></li><br>
				<li><a href="{% url 'password_requests' %}"> View reset passwords </a></li><br>
				<li><a href="/login/logout"> Logout </a></li></font>

		{% else %}
			<ul><font size=5>
				<li><a href="/license/view/page_1"> View licenses </a></li><br>
				<li><a href="{% url 'request_form' %}"> Submit license request </a></li><br>
				<li><a href="/login/logout"> Logout </a></li></font>
		{% endif %}
	{% endblock %}</div>

	<div id="content" style="width:700px;margin-left:250px;margin-top:40px;margin-right:50px">

	{% block content %}
		He he he
	{% endblock %}</div>


	{% endblock entire %}

{% else %}
	<p> You are not logged in. </p>
	<p> <a href="/login/"> Go to the login page. </a></p>

{% endif %}